/* Reset de CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  /* Selector + propiedad + valor */
  
  body { 
     font-family: "Bebas Neue", sans-serif;
     font-weight: 400;
     font-style: normal;
     min-height: 100vh;
  }
  
  /* Estilos para el contenedor */

  .container {
      max-width: 1200px;
      margin: 0 auto;
  }
  
  /* Estilos del header */

  .header {
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/img-bg-index.jpg);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      display: flex;
      align-items: center;
  }
  
  /* Estilos del icono del carrito */

  .cart-icon-container {
      position: relative;
      display: block;
  }
  
  #cart-icon {
      font-size: 1.8rem;
      color: white;
      cursor: pointer;
  }
  
  #cart-count {
      position: absolute;
      top: -13px;
      right: -13px;
      background-color: rgb(0, 0, 0);
      color: white;
      border-radius: 70%;
      padding: 4px;
      font-size: 1rem;
  }
  
  /* Estilos del carrito en cart.html */

  .cart-items {
      margin: 20px;
  
      ul {
          list-style: none;
          padding: 0;
      }
  
      li {
          padding: 10px;
          border-bottom: 1px solid #ddd;
      }
  }
  
  /* Estilos para el menú */

  .menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .navbar {
          ul {
              li {
                  position: relative;
                  float: left;
  
                  a {
                      font-size: 25px;
                      padding: 20px;
                      color: #FFFFFF;
                      display: block;
                      font-weight: 700;
  
                      &:hover {
                          color: #7B92A2;
                      }
                  }
              }
          }
      }
  
      #menu {
          display: none;
      }
  
      .menu-icono {
          width: 30px;
      }
  
      label {
          cursor: pointer;
          display: none;
      }
  }
  
  /* Estilos para el contenido del header */

  .header-content {
      text-align: center;
  
      h1 {
          font-size: 75px;
          line-height: 80px;
          color: #FFFFFF;
          margin-bottom: 40px;
      }
  
      p {
          font-size: 29px;
          color: #FFFFFF;
          padding: 0 250px;
          margin-bottom: 40px;
      }
  }
  
  /* Estilos del apartado de destacados */

  .destacados {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
      justify-items: center;
  }
  
  /* Estilo del texto apartado destacados */

  .titulo-destacados {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;
  }
  
  /* Estilos de cada producto */  

  .producto {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      width: 100%;

      @include hover-effect(translateY(-10px), 0 10px 20px rgba(0, 0, 0, 0.25)); /* mixin para efectos de hover (transición) */
  
      &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
      }
  
      img {
          width: 100%;
          height: 200px;
          object-fit: cover;
      }
  
      h3 {
          font-size: 1.80rem;
          margin: 15px 0;
      }
  
      .precio {
          font-size: 1.55rem;
          padding: 10px;
          color: #000000;
          font-weight: bold;
      }
  
      .comprar {
          background-color: #487292;
          color: white;
          border: none;
          padding: 10px;
          width: 100%;
          font-size: 1.20rem;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
              background-color: #1c71aa;
          }
      }
  }
  
  /* Estilos para el formulario de contacto */

  .nombre-formulario,
  .email-formulario,
  .mensaje-formulario {
      color: #FFFFFF;
      font-size: 40px;
  }
  
  /* Estilos para la imagen de inicio */

  .img-inicio {
      width: 80%;
  
      img {
          width: 712px;
          padding: 10px 10px;
      }
  }
  
  /* Estilos para los nuevos ingresos */

  .new-arrival-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  
  .img-uno-new-arrival,
  .img-dos-new-arrival,
  .img-tres-new-arrival {
      width: 70%;
  
      img {
          width: 700px;
          padding: 10px 10px 10px;
      }
  }
  
  /* Estilo del pie de página */

  .footer {
      background-color: #000000;
      color: #ffffff;
      text-align: center;
      padding: 10px;
  
      .footer-content {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;
          justify-items: center;
  
          @media (min-width: 768px) {
              flex-direction: row;
              justify-content: space-between;
          }
      }
  
      .reset-store-social-media,
      .reset-store-info,
      .reset-store-you {
          margin: 20px;
          padding: 10px;
  
          h3 {
              font-size: 30px;
              margin-bottom: 10px;
          }
  
          ul {
              list-style: none;
              justify-content: center;
              padding: 0;
  
              li {
                  margin: 10px 0;
  
                  a {
                      color: #fff;
                      text-decoration: none;
                      font-size: 20px;
                      transition: color 0.3s;
  
                      &:hover {
                          color: #7B92A2;
                      }
                  }
              }
          }
      }
  
      .reset-store-social-media a {
          font-size: 1.5rem;
          margin: 0 10px;
          transition: color 0.3s;
  
          &:hover {
              color: #7B92A2;
          }
      }
  
      .reset-store-copyright {
          margin: 20px;
          font-size: 1rem;
          padding: 10px;
  
          p {
              color: #c7bdbd;
          }
      }
  }

  /* media query para pantallas chicas (mobile), max-width: 991px */

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #bdc0c2;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 200px 40px;
    }

    .header-content p {
        padding: 0;
    }

    .header-content span {
        display: none;
    }

    .span-nosotros {
        display: none;
    }

    .nosotros-content-uno {
        padding: 200px 40px;
    }

    .nosotros-content-uno p {
        padding: 0;
    }

    .nosotros-content-dos {
        display: none;
    }

    .subtitulo-nuevos-ingresos {
        display: none;
    }

}
  
  /* media query para pantallas grandes, min-width: 768px */

@media (min-width: 768px) { /* utilizamos flexbox para organizar las secciones en una columna, pero para pantallas grandes (min-width: 768px), las organizamos en una fila horizontal. */
   
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    /* sección you/social media/info */

    .reset-store-you {
        margin-bottom: 0;
    }

    .reset-store-social-media {
        margin-bottom: 0;
    } 

    .reset-store-info {
        margin-bottom: 0;
    }

    /* sección you ul/social media ul/info ul */

    .reset-store-you ul {
        display: flex;
        gap: 20px;
    }

    .reset-store-info ul {
        display: flex;
        gap: 20px;
    }

    .reset-store-social-media ul {
        display: flex;
        gap: 20px;
    }

    /* sección you a/info a/social media a */

    .reset-store-you a {
        font-size: 1.2rem;
    }

    .reset-store-info a {
        font-size: 1.2rem;
    }

    .reset-store-social-media a {
        font-size: 1.2rem;
    } 
}